.order{
    background: url("../Images/main.jpg");
    background-size: cover;
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}

.container{
    display: flex;
}

.cart{
    font-family: this;
    background-color: #161515;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.cart .cartTitle{
    
    font-size: 2vw;
    width: 100%;
    text-align: center;
    background-color: beige;
    padding: 1rem;
}

@font-face {
    font-family: this;
    src: url('../fonts/JacquesFrancois-Regular.ttf');
}